{% extends "teleapp/base.html" %}
{% block sidebar %}

<h3 class="text-center" >Evaluation</h3>
<div class="d-flex flex-column">

  <div class="p-2 bg-light mt-2">
    <a class="btn bg-light text-center"href="{% url 'teleapp:template' %} "> Evaluation Template </a>
  </div>


  <div class="p-2 bg-light mt-2">
    <a class="btn bg-light" href="{% url 'teleapp:result' %} "> Evaluation Result </a>
  </div>
  
  <div class="p-2 bg-light mt-2">
    <a class="btn bg-light" href="{% url 'teleapp:evaluatees' %} "> Evaluatees </a>
  </div>

  <div class="p-2 bg-light mt-2">
    <a href="{% url 'teleapp:edit' %}"
    {% if user.is_anonymous or not user.is_superuser %}
	class="btn bg-light disabled"
    {% else %}
        class="btn bg-light"
    {% endif %}
    >
    Edit Template 
    </a>
  </div>
<div class="p-2 bg-light mt-2">
    <a href="{% url 'teleapp:accounts' %}"
    {% if user.is_anonymous or not user.is_superuser %}
	class="btn bg-light disabled"
    {% else %}
        class="btn bg-light"
    {% endif %}
    >
    Manage accounts
    </a>
  </div>


</div>
 
{% endblock %}

{% block content%}
<div class="mt-5 mb-5">  
<p><strong> Edit employee for: {{employee.user.username}}</strong></p>
<form class="form-control" method='post' action="{% url 'teleapp:edit_accounts' %}">
   {% csrf_token %}
  <input type="number" name="pk" value="{{employee.pk}}" hidden readonly>
  <div class="form-group">
    <label for="firstname">First name:</label>
    <input type="text" class="form-control" id="firstname" name="firstname" value="{{employee.user.first_name}}"required>
  </div>

  <div class="form-group">
    <label for="lastname">Last name:</label>
    <input type="text" class="form-control" id="lastname" name="lastname" value="{{employee.user.last_name}}" required>
  </div>

  <div class="form-group">
    <label for="status">Status:</label>
    <select class="form-control" id="status" name="status" required>
       {% for s in status %}
          <option  {% if employee.status == s.0 %} selected="selected" {%endif%} value="{{s.0}}"> {{s.1}}</option>
       {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="pwd">Change password:</label>
    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Change password" value="">
  </div>
  
  <div class="form-group">
    <label for="evaluator">Evaluator:</label>
    <select class="form-control" id="evaluator" name="evaluator" required>
       {% for e in employee_list %}
          <option value="{{e.pk}}" {% if employee.evaluator.pk == e.pk %} selected="selected" {%endif%}> {{e.pk}}. {{e.user.first_name}} {{e.user.last_name}} ({{e.get_status_display }})</option>
       {% endfor %}
    </select>
  </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% if error_message %}
  <p class="text-danger mt-3 bg-light card-body"> {{ error_message }} </p>
{% endif %}

</div>



{% endblock %}
