{% extends "teleapp/base.html" %}

{% block sidebar %}

<h3 class="text-center" >Evaluation</h3>
<div class="d-flex flex-column">

  <div class="p-2 bg-light mt-2">
    <a class="btn bg-light text-center"href="{% url 'teleapp:template' %} "> Evaluation Template </a>
  </div>


  <div class="p-2 bg-light mt-2">
    <a class="btn bg-light" href="{% url 'teleapp:result' %} "> Evaluation Result </a>
  </div>
  
  <div class="p-2 bg-light mt-2">
    <a class="btn bg-light" href="{% url 'teleapp:evaluatees' %} "> Evaluatees </a>
  </div>

  <div class="p-2 bg-light mt-2">
    <a href="{% url 'teleapp:edit' %}"
    {% if user.is_anonymous or not user.is_superuser %}
	class="btn bg-light disabled"
    {% else %}
        class="btn bg-light"
    {% endif %}
    >
    Edit Template 
    </a>
  </div>
  
  <div class="p-2 bg-light mt-2">
    <a href="{% url 'teleapp:accounts' %}"
    {% if user.is_anonymous or not user.is_superuser %}
	class="btn bg-light disabled"
    {% else %}
        class="btn bg-light"
    {% endif %}
    >
    Manage accounts
    </a>
  </div>


</div>
 
{% endblock %}



{% block content %}

<div class="container mt-3">
  <h2><strong>Evaluatees</strong></h2>
  <p></p>  
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>ID.</th>
        <th>Name</th>
        <th>Username</th>
        <th>Score</th>
        <th>Evaluate</th>
      </tr>
    </thead>
    <tbody id="myTable">
    {% for evaluatee in request.user.employee.employee_set.filter %}
       <tr>
          <td>{{ evaluatee.pk }} </td>
          <td>{{ evaluatee.user.get_full_name }}</td>
          <td>{{ evaluatee.user.username }} </td>
          <td>{{ evaluatee.data.score}} ({{evaluatee.data.grade}})</td>
          <td><a class="btn btn-primary" href="{% url 'teleapp:evaluatees'%}?pk={{evaluatee.pk}}">
            evaluate</a>
          </td>
       </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}